body{
    align-items: center;
    text-align: center;
    background-color:rgb(151, 151, 216);
    height: 100dvh;

}

h1{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);

}

p{
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    color: aliceblue;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: black;
    
}

button{
    background-color:rgb(182, 129, 228);
    color:black;
    font-size: 15px;
    font-family: cursive;
}